<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Conclusion</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href= "{{ url_for('static', filename='assets/favicon.ico') }}"/>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />

    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="list-group list-group-flush">
                  <a class="list-group-item list-group-item-action list-group-item-light p-3"
                  href="index">Home</a>
                  <a class="list-group-item list-group-item-action list-group-item-light p-3"
                  href="EDA">EDA</a>
                  <a class="list-group-item list-group-item-action list-group-item-light p-3"
                  href="modeling">Modeling</a>
                  <a class="list-group-item list-group-item-action list-group-item-light p-3" href="conclusion">Conclusion</a>
                  <a class="list-group-item list-group-item-action list-group-item-light p-3" href="about">About</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

                </nav>
                <!-- Page content-->
                <div class="container-fluid">

                  <h1 class="mt-4">Conclusion</h1>
                  <h3>
                    Importance 
                  </h3>
                  <p>
                    We noted in the previous section that all models returned similar results, pointing to, at most, a moderate level of correlation between various features and how many runs a batsman will score against any one bowler in a match. Albeit disappointing, I believe the project conducted still has implications regarding team composition analysis for IPL teams going forward. The best teams have historically been those to find their footing and best playing XI earlier into the tournament, and undoubtedly, part of that is choosing favorable matchups between batsmen and bowlers.
                    <br>
                    The models I used went from blankly simple to more complicated, and for Decision Trees, there was a notable improvement in the quality of the model in both assessing the correlation as well as predictive strength. If we can continue to tune the parameters, we might be able to make that increase even higher.
                  </p>

                  <h3>Future Analysis</h3>

                  <p>

                    The project I conducted has potential to be taken much further. 
                    A few of the areas I would like to take this would be:
                    <ul>

                      <li> Changing this to a classification problem </li>
                        <ul>
                          <li> Define new "classes" of players </li>
                          <li> New metrics like F1 score, accuracy, etc.</li>
                        </ul>

                      <li> Predict match results by change in extraneous variables </li>
                        <ul>
                          <li> Would a match won in 2014 be won in 2007? </li>
                          <li> How would the 2020 season have turned out if it was played in a different country?  </li>
                        </ul>

                      <li> Application to non-IPL data </li>
                        <ul>
                          <li> Obtain data on international matches / other formats </li>
                          <li> Do these have the same patterns as IPL matches?  </li>
                        </ul>

                    </ul>

                  </p>

                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
