<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>EDA</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href= "{{ url_for('static', filename='assets/favicon.ico') }}"/>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />

    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="list-group list-group-flush">
                  <a class="list-group-item list-group-item-action list-group-item-light p-3"
                  href="index">Home</a>
                  <a class="list-group-item list-group-item-action list-group-item-light p-3"
                  href="EDA">EDA</a>
                  <a class="list-group-item list-group-item-action list-group-item-light p-3"
                  href="modeling">Modeling</a>
                  <a class="list-group-item list-group-item-action list-group-item-light p-3" href="conclusion">Conclusion</a>
                  <a class="list-group-item list-group-item-action list-group-item-light p-3" href="about">About</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <h1 class="mt-4">Exploratory Data Analysis</h1>
                    <br>
                    <h3> Dataset Exploration </h3>
                    <p>

                        The data was chunked into three parts of particular interest.
                        <ul>
                          <li>Batting Statistics</li>
                          <li>Bowling Statistics</li>
                          <li>Overall Season Statistics</li>
                        </ul>

                        More data was given, but these three were selected for use in feature creation & modeling.

                        <br>
                        <br>
                        <h4>1. Batting Statistics</h4>
                        <p> The batting statistics CSV contained information about every single batsman's performance in every match from 2008 - 2021, containing statistics like:
                          <ul>

                            <li> the team batting </li>
                            <li> current batsman's name </li>
                            <li> runs scored </li>
                            <li> total team score at the time of the batsman's dismissal </li>

                          </ul>

                        </p>

                        <h4>2. Bowling Statistics</h4>
                        <p> The bowling statistics CSV contained information about every single bowler's performance in every match from 2008 - 2021, containing statistics like:

                          <ul>

                            <li> the team bowling </li>
                            <li> current bowler's's name </li>
                            <li> wickets taken in the match </li>
                            <li> runs conceded to the opposition </li>

                          </ul>

                        </p>

                        <h4>3. Overall Statistics</h4>
                        <p> The bowling statistics CSV contained ball-by-ball data for every match from 2008 - 2021. This dataset would provide the base for our modeling. It contains statistics like:

                          <ul>

                            <li> the time the ball was delivered in game </li>
                            <li> whether the ball was illegal or not </li>
                            <li> runs scored off the ball </li>

                          </ul>

                        </p>

                    </p>

                    <h3> Correlation Visualization </h3>
                    <p>
                      <h4> Runs Scored For and Against Each Team </h4>
                      <p>

                        Firstly, I started off with a simple bar chart that compared, for each team, the amount of total runs they had scored and conceded in the 2008-21 IPL seasons.
                        <br>
                        We can see in this visualization there are visible differences between team performance in terms of total runs scored and conceded.
                        <br>
                        For example, CSK has scored 32.5k runs, yet only conceded 25k, asking the question of whether playing a certain team impacts a player's batting performance?
                      </p>
                      <iframe width="600" height="450"
                        src="{{ url_for('static', filename = 'html/grouped.html') }}"></iframe>
                      <br>

                      <h4> Difference in Average Runs Scored by Venue </h4>
                      <p>

                        Next, I charted the difference between total runs scored in each of the top 10 most played-in venues to the average amount of runs scored. We can see significant disparities between different stadiums, adding another possible factor in affecting a batsman's performance.

                      </p>
                      <iframe width="700" height="600"
                        src="{{ url_for('static', filename = 'html/runsbyvenue.html') }}"></iframe>
                      <br>

                      <h4> Scatterplots </h4>
                      <p>
                        
                        Going forward, I wanted to see what visual relations existed between any of the variables and the target "runs" variable. Here, I chose a couple common metrics used to assess the quality of a batsman in IPL cricket:
                        <ol>
                          <li>The number of balls faced by the batsman</li>
                          <li>The strike rate, or how quickly they score</li>
                            <ul>
                               <li> Calculated as Runs / Balls Faced</li>
                            </ul>
                          <li>The number of sixes hit</li>
                        </ol>
  
                       I plotted these variables out individually versus the "total_runs" attribute to see what patterns existed between these features and a batsman's performance. 
                        
                      </p>
                      
                      <h5>1. Runs versus Balls Faced</h5>
                      <p></p>
                      <iframe width="400" height="400"
                        src="{{ url_for('static', filename = 'html/runs_vs_ball.html') }}"></iframe>

                      <h5>2. Runs versus Average Strike Rate</h5>
                      <iframe width="400" height="400"
                        src="{{ url_for('static', filename = 'html/runs_vs_sr.html') }}"></iframe>

                      <h5>3. Runs versus Average Sixes Hit</h5>
                      <iframe width="400" height="400"
                        src="{{ url_for('static', filename = 'html/runs_vs_six.html') }}"></iframe>
 

                      <h4> Correlation Table of Features</h4>
                      <p>
                        After exploring a few possible variables, I wanted to generate a correlative heatmap that showed how related different features were to the "runs" variable. I took the top five most related features, and generated the following heatmap. As we can see, the relations are not particularly strong with respect to our desired target variable, centering just above 20%.

                        <br>

                        Of particular interest was the weak relation between a batsman's average runs and the runs they score against one bowler. We would expect this relationship to be much stronger, indicating that the sport's usage of the metric might be slightly overblown as a genuine indication of a player's quality.
                      </p>
                      <iframe width="450" height="450"
                      	src="{{ url_for('static', filename = 'html/heatmap.html') }}"></iframe>



                    </p>

                    <h3> Feature Creation </h3>
                    <p>

                      The fourth visualization I created – the correlative heatmap – was based off of a reshaped dataset that combined the three prior datasets. I grouped the batting / bowling statistics to find each batsman and bowler's total and typical performances in metrics like runs scored, wickets taken, etc. Next, I pivoted the overall ball-by-ball data to find how each batsman performed vs each bowler in every unique match, and combined this to get a full dataset containing match and overall information for players in one dataset.




                    </p>


                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
