<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>EDA</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href= "{{ url_for('static', filename='assets/favicon.ico') }}"/>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />

    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="goals">Project Goals</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="modeling">Modeling</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="conclusion">Conclusion</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="about">About</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <h1 class="mt-4">Exploratory Data Analysis</h1>
                    <br>
                    <h3> Dataset Exploration </h3>
                    <p>

                        The data was chunked into three parts of particular interest.
                        <ul>
                          <li>Batting Statistics</li>
                          <li>Bowling Statistics</li>
                          <li>Overall Season Statistics</li>
                        </ul>

                        More data was given, but these three were selected for use in feature creation & modeling.

                        <br>
                        <br>
                        <h4>1. Batting Statistics</h4>
                        <p> The batting statistics CSV contained information about every single batsman's performance in every match from 2008 - 2021, containing statistics like:
                          <ul>

                            <li> the team batting </li>
                            <li> current batsman's name </li>
                            <li> runs scored </li>
                            <li> total team score at the time of the batsman's dismissal </li>

                          </ul>

                        </p>

                        <h4>2. Bowling Statistics</h4>
                        <p> The bowling statistics CSV contained information about every single bowler's performance in every match from 2008 - 2021, containing statistics like:

                          <ul>

                            <li> the team bowling </li>
                            <li> current bowler's's name </li>
                            <li> wickets taken in the match </li>
                            <li> runs conceded to the opposition </li>

                          </ul>

                        </p>

                        <h4>3. Overall Statistics</h4>
                        <p> The bowling statistics CSV contained ball-by-ball data for every match from 2008 - 2021. This dataset would provide the base for our modeling. It contains statistics like:

                          <ul>

                            <li> the time the ball was delivered in game </li>
                            <li> whether the ball was illegal or not </li>
                            <li> runs scored off the ball </li>

                          </ul>

                        </p>

                    </p>

                    <h3> Correlation Visualization </h3>
                    <p>



                    </p>

                    <h3> Feature Creation </h3>
                    <p>

                      In order to create our feature dataset,


                    </p>


                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
