<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Goals</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href= "{{ url_for('static', filename='assets/favicon.ico') }}"/>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />

    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <!-- <div class="sidebar-heading border-bottom bg-light">Start Bootstrap</div> -->
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3"
                    href="index">Home</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3"
                    href="EDA">EDA</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3"
                    href="modeling">Modeling</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="conclusion">Conclusion</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="about">About</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <h1 class="mt-4">2022 Summer AI Camp Crash Course Project</h1>
            
                    <br>
                    <h3> Project Background & Goals </h3>
                    <p>

                      The Indian Premier League (IPL) is an annual cricket tournament based in India that attracts the best players from around the world, and is famed for its popularity in cricketing nations, as well as its lucrative business models that has caused companies like Amazon, Netflix, and Disney to fight for broadcast rights. Each team fields 11 players in any one game, with a limit of 4 allowed foreign players. As such, teams are constantly experimenting with team lineups in order to find the best possible combination, and determing the most valuable players is of utmost importance.

                    	This project will aim to build a model that predicts the number of runs that any one player will score against any one bowler in a season using historical data from 2008 to the most recently completed season in 2021.

                    </p>

                    <h3> Dataset Description </h3>
                    <p>

                      The data was sourced through <a href = "https://www.kaggle.com/datasets/rajsengo/indian-premier-league-ipl-all-seasons"> publicly available data shared on Kaggle. </a>
                      It contained batting, bowling, and overall-season statistics for every player who played at least once between 2008 and 2021. Furthermore, it also had incomplete 2022 statistics for the ongoing 2022 season.

                      The data required little cleaning, but did necessitate intensive feature selection and shaping for usage in our modeling.

                    </p>

                    <h3> Acknowledgements </h3>
                    <p>

                      Special thanks to <a href = "https://github.com/sengorajkumar"> Rajkumar Sengottuvel </a> for collecting & uploading the data onto Kaggle.

                    </p>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
